.container {
    position: relative;
    width: 100%;
    padding: 210px 0 0 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper > div {
    margin: 70px 0;
}

.container .wrapper > h1 {
    color: #fefefe;
    text-align: center;
    font-size: 60px;
}

.container .wrapper > p {
    color: #fefefe;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.container .triangle {
    border-left: 700px solid #fff;
    border-top: 150px solid transparent;
    border-right: 700px solid #fff;
    width: 0%;
    margin-top: 200px;
}

.reverseTriangle1 {
    line-height: 0;
}

.reverseTriangle1 path {
    fill: #fefefe;
    stroke: #fefefe;
    stroke-width: 2
}











.section-contact {
    position:relative;
}

.section-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2  {
    position:relative;
    z-index: 10;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 30px;
    text-align: center;
    visibility: hidden;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
 .col-md {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 16.66666667%;
}

.section-title {
    margin-bottom: 48px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 8.33333333%;
    text-align: center;
}

.section-title h3, .section-title h4 {
    color: #F4F4F4;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: inline-block;
    margin-top: 0;
    padding: 8px 0;

}

.confirmation {
    display:none;
    clear: both;
    color: #e5e5e5;
}

.confirmation p span {
    margin-right: 8px;
}

.contact-form {
    color:#f9f9f9;
}

.contact-form .input-field {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f00c";
}





