.navigation{
    color: white;
    padding: 100px 0 0 0;
    margin: 80px auto;
    max-width: 1200px;
}
.Keyword{
    display: table;
}

.h1{
    color: white;
}

.label{
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.8;
    color: #0a0a0a;
}

.libContainer {
    width: 100%;
    background-color: #edf0f4;
    padding:50px 0;
    overflow: hidden;
}

.libContainer > h1 {
    font-size: 60px;
    text-align: center;
    margin: 100px 0 50px 0;
}

.libWrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
    padding:0 10px
}

.libWrapper .libLeft {
    width: 66.6666%;
    padding: 0 20px 0 0
}

.libHoverCell {
    position: relative;
}

.libLeftImage {
    width: 100%;
    vertical-align: middle;
}

.libLeftShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(66, 225, 250, .7);
    transition: all 600ms ease;
}

.libRightTop {
    position: absolute;
    right: 10px;
    top: 0;
    width: 33.3333%;
    /*height:100%;*/
}

.libRightBottom {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 33.3333%;
    /*height:100%;*/
}

.libHoverCell:hover .libLeftShadow {
    background-color: rgba(66, 225, 250, .0);
}

.libInfoWrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 30px
}

.libInfoWrapper > p {
    color: #247ae2;
    padding: 20px 0;
    font-weight: 600;
}

.libInfoWrapper > h1 {
    line-height: 40px;
    margin-bottom: 20px;
}

.libInfoWrapper > h2 {
    line-height: 30px;
    margin-bottom: 20px;
}

.libInfoLeft {
    width: calc(100% - 100px);
}

.libInfoRight {
    width: calc(100% - 30px);
    padding: 0 0 20px 20px;
}

.bottomBtnWrapper {
    margin: 80px auto;
    max-width: 1200px;
    position: relative;
}

.bottomBtnLine {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(50% - 130px);
    height: 1px;
    background-color: #ccc;
}

.bottomBtnLeftLine {
    left: 0;
}

.bottomBtnRightLine {
    right: 0;
}