.container {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: #0a0a0a;
    transition: all 300ms ease;
}

.containerTop {
    color: #fff;
    background-color: transparent;
}

.topWrapper {
    max-width: 1200px;
    height: 30px;
    margin: 20px auto 0 auto;
}

.loginWrapper {
    float: right;
    overflow: hidden;
}

.loginWrapper ul li {
    float: left;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    /*color:#0a0a0a;*/
    font-size: 14px;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    color: rgba(254, 254, 254, 0.75);
    transition: all 300ms ease;

}

.loginWrapper ul li:hover {
    color: rgba(254, 254, 254, 1);
}

.loginWrapper ul li > span:hover .loginFontCell {
    position: relative;
    z-index: 0.8;
}

.loginWrapper ul li > span:hover .loginHoverCell {
    position: absolute;
    left: 50%;
    bottom: -100%;
    width: 100%;
    height: 100%;
    /*border:3px solid #fc6215;*/
    background-color: #fc6215;
    transition: all 300ms ease;
    z-index: 0;
    transform: translateX(-50%);
}

.wrapper {
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    /*background-color: yellow;*/
}

.logoWrapper {
    float: left;
    margin-top: 22.5px;
    cursor: pointer;
}

.logoWrapper svg {
    width: 200px;
    height: 22px;
}

.logoTopWrapper svg path {
    fill: #fff;
}

.logoWrapper img {
    width: auto;
    height: 45px;
    margin-top: auto;
}



.menuWrapper {
    float: right;
    position: relative;
    /*overflow: hidden;*/
}

.menuWrapper svg {
    width: 14px;
    height: 14px;
    z-index: 1;
    position: relative;
    vertical-align: middle;
}

.menuTopWrapper svg path {
    fill: #fff
}

.menuWrapper > ul > li {
    float: left;
    padding: 0 20px;
    height: 70px;
    line-height: 70px;
    /*color:#0a0a0a;*/
    font-size: 15px;
    cursor: pointer;
    /*position: relative;*/
    font-weight: 600;
}

.menuWrapper > ul > li:hover .secondMenuContainer {
    opacity: 1;
    visibility: visible;
}

.menuWrapper > ul > li:hover .square {
    opacity: 1;
    visibility: visible;
}

.secondMenuContainer {
    position: absolute;
    top: 0px;
    width: 830px;
    /*height: 300px;*/
    background: #fff;
    right: 20px;
    border-radius: 6px;
    opacity: 0;
    z-index: 100;
    transition: opacity .3s 0s ease, visibility 0s 0s;
    visibility: hidden;
    color: #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 0 25px 0 rgba(0, 0, 0, .03);
}

.secondMenuContainer > ul {
    display: flex;
    padding: 30px 30px 40px;
}

.secondMenuContainer > ul > li {
    flex: 1;
    line-height: 2em;
    padding-right: 20px;
    word-break:break-all;
}

.secondMenuContainer > ul > li ul li:first-child {
    color: #6d6e71
}

.secondMenuHover {
    position: fixed;
    top: 70px;
    width: 768px;
    height: 30px;
    right: 20px;
    opacity: 0;
    background: transparent;
}

.square {
    width: 0px;
    height: 0px;
    position: absolute;
    transform: translateX(-50%);
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 50%;
    top: -10px;
    visibility: hidden;
    transition: opacity .3s 0s ease, visibility 0s 0s;
    z-index: 101;
}

.searchImage {
    width: 13px;
    height: 13px;
    vertical-align: middle;
    z-index: 1;
    position: relative;
}

.menuWrapper ul li .menuFontCell {
    position: relative;
    z-index: 1;
    transition: all 300ms ease;
}

.secondMenuContainer .menuCellShadow {
    width: 100%;
    position: absolute;
    top:-30px;
    height:30px;
    background-color: transparent;
}

.menuWrapper ul li .menuHoverCell {
    position: absolute;
    left: 50%;
    bottom: -100%;
    width: 100%;
    height: 100%;
    /*border:3px solid #fc6215;*/
    background-color: #fc6215;
    transition: all 300ms ease;
    z-index: 0;
    transform: translateX(-50%);
}

.menuWrapper ul li:hover .menuHoverCell {
    bottom: 0;
}

.menuWrapper ul li:hover .menuFontCell {
    color: #c6c6c6;
}

.btnWrapper {
    height: 70px;
}

.btnWrapper > span {
    display: inline-block;
    paddding: 10px 0;
    border: 3px solid #fc6215;
    height: 40px;
    vertical-align: middle;
    line-height: 34px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    /*box-sizing: content-box;*/
}

.btnFontWrapper {
    position: relative;
    z-index: 1;
    transition: all 300ms ease;
    font-size: 15px;
}

.btnHoverWrapper {
    position: absolute;
    left: 50%;
    bottom: -100%;
    width: 200%;
    height: 100%;
    /*border:3px solid #fc6215;*/
    background-color: #fc6215;
    transition: all 300ms ease;
    z-index: 0;
    transform: translateX(-50%);
}

.btnWrapper > span:hover .btnHoverWrapper {
    bottom: 0px
}

.btnWrapper > span:hover .btnFontWrapper {
    color: #fff
}
