*, *:before, *:after {
    /*box-sizing: inherit;*/
    margin:0;
    padding:0;
    list-style:none;
    box-sizing: border-box;
}

html,body {
    /*box-sizing: border-box;*/
    /*-ms-text-size-adjust: 100%;*/
    /*-webkit-text-size-adjust: 100%;*/
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

a{
    line-height:inherit;
    color:#247ae2;
    cursor:pointer
}
