.moreInfoCell {
    position: absolute;
    left: 25px;
    bottom: 0px;
    padding-bottom: 10px;
    cursor: pointer;
}

.moreInfoCell:hover .arrowImage {
    right: -30px;
}

.moreInfoCell:hover .bottomLine {
    bottom: -13px;
}

.moreInfoCell > span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    position: relative;
}

.bottomLine {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
    height: 2px;
    background: #fc6215;
    transition: all 300ms ease;
}

.arrowImage {
    position: absolute;
    width: 18px;
    height: 10px;
    vertical-align: middle;
    right: -23px;
    top:3px;
    transition: all 300ms ease;
}